data/interim/genius_scrape/metadata_part_*
data/interim/test_data/*
data/interim/*
**/__pycache__/**
**/node_modules/**
**/.ipynb_checkpoints/**
*.pyc
data/external/*
.DS_Store
notebooks/.ipynb_checkpoints/*
src/data/.ipynb_checkpoints/scrape_genius_lyrics-checkpoint.py
data/interim/genius_lyrics.json.bk
data/interim/genius_metadata.json.bk
