**/__pycache__/**
**/.ipynb_checkpoints/**
*.pyc
data/external/*
.DS_Store
notebooks/.ipynb_checkpoints/*
src/data/.ipynb_checkpoints/scrape_genius_lyrics-checkpoint.py
data/interim/genius_lyrics.json.bk
data/interim/genius_metadata.json.bk
